{% extends 'base.html' %}


{% block title %}
Tasks
{% endblock %}


{% block intro %}
А теперь необходимо решить несколько задач. Не беда, если что-то не получится, но
каждая решённая будет дополнительным плюсом.
{% endblock %}


{% block heading1 %}Задача 1{% endblock %}
{% block section1 %}
Сложить списки, посчитать общее колличесвто товаров и их сумму.
{% endblock %}

{% block heading2 %}Задача 2{% endblock %}
{% block section2 %}
Восстановить порядок сообщений.
{% endblock %}

{% block heading3 %}Задача 3{% endblock %}
{% block section3 %}
Написать мини-игру.
{% endblock %}