{% extends 'base.html' %}


{% block title %}
Tasks
{% endblock %}


{% block intro %}
А теперь необходимо решить несколько задач. Не беда, если что-то не получится, но
каждая решённая будет дополнительным плюсом.
{% endblock %}


{% block heading1 %}Задача 1{% endblock %}
{% block section1 %}
Сложить списки, посчитать общее колличесвто товаров и их сумму.

    <p><input type="file" name="task1">
    <!--p><input type="submit" value="Upload"-->

{% endblock %}

{% block heading2 %}Задача 2{% endblock %}
{% block section2 %}
Восстановить порядок сообщений.

    <p><input type="file" name="task2">

{% endblock %}

{% block heading3 %}Задача 3{% endblock %}
{% block section3 %}
Написать мини-игру.

    <p><input type="file" name="task3">

{% endblock %}


{% block input %}
{% endblock %}

